<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <span>Wedding Details</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary" class="secondary-toolbar">
    <mat-toolbar-row>
        <button mat-flat-button color="primary" (click)="loadChild()">
            Location & Directions
          </button>
        <button mat-flat-button color="primary" (click)="loadChild()">
            Registry
          </button>
        <button mat-flat-button color="primary" (click)="loadChild()">
            Replacement Invitation
          </button>
        <button mat-flat-button color="primary" disabled="false" (click)="loadChild()">
            Photos
          </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="apps">
    <app-location-time *ngIf="loadTimeAndDate"></app-location-time>
</div>