<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <span>Wedding Details</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary" class="secondary-toolbar">
    <mat-toolbar-row>
        <button mat-flat-button color="primary" [routerLink]="'location'">
            Location & Directions
        </button>
        <button mat-flat-button color="primary" [routerLink]="'accomodation'">
            Accomodation (not wedding)
        </button>
        <button mat-flat-button color="primary" [routerLink]="'replacement-invitation'">
          Replacement Invitation
        </button>
        <button mat-flat-button color="primary" (click)="openExternalRegistry()">
            Registry
        </button>
        <button mat-flat-button color="primary" disabled="true">
            Photos - coming soon!
        </button>
    </mat-toolbar-row>
</mat-toolbar>