
<div class="card-container">

  <mat-card>

    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Please enter the password that was provided to you in your invitaion</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="form" #f="ngForm">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input 
              matInput 
              type="password" 
              [(ngModel)]="loginUserData.password" 
              #password="ngModel" 
              name="password"  
              class="full-width"  
              [ngClass]="{ 'is-invalid':  password.invalid && password.touched }"  
            required >

            <!-- <mat-error *ngIf="passwordFormControl.hasError('email') && !passwordFormControl.hasError('required')">
              Incorrect password supplied
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    
    <button 
      mat-raised-button 
      color="primary" 
      class="button-margin"
      [disabled]= "!f.form.valid" 
      (click)="loginUser()">
      Submit
    </button>

  </mat-card>

</div>
