
<div class="card-container">
    <mat-card>
        
        <mat-card-header>
            <mat-card-title>Location and Booking</mat-card-title>
            <mat-card-subtitle>how to book a room and the venue location</mat-card-subtitle>
        </mat-card-header> 
        <img mat-card-image src="../../assets/aanzicht-gw.jpg" alt="Photo of Groot Warnsborn">
        <mat-card-content>
            <div class="card-content">

                <h3>Time</h3>
                <ul>
                    <li>The event will start at 14:00 (2:00 PM)</li>
                    <li>You may arrive from 13:30 (1:30 PM)</li>
                </ul> 

                <mat-divider style="margin-bottom: 3%"></mat-divider>

                <h3>The event will take place at</h3>
                <ul>
                    <li><i>Groot Warnsborn</i>, in Arnhem, The Netherlands</li>
                    <li class="no-bullet">
                        <a href="https://grootwarnsborn.nl/" target="_blank" class="margin-right"><button  mat-stroked-button>Website</button></a>
                        <a href="https://goo.gl/maps/JSagZSQFj1UEmDKL9" target="_blank"><button  mat-stroked-button>Google Maps</button></a>
                    </li>
                </ul> 
                

                
                <mat-divider></mat-divider>

                <h3 class="top-margin">Do you wish to stay the night with us at Groot Warnboorn?</h3>
                <ul>
                    <li>Please contact Nina or I prior to March 2023, and we'll reserve a room for you at the special rate</li>
                    <li>The cost of the room is €185 - €210</li>
                    <li>Breakfast is included</li>
                </ul> 
            </div>
        </mat-card-content>
        
    </mat-card>

    <mat-card>
        
        <mat-card-header>
            <mat-card-title>Travel Directions</mat-card-title>
            <mat-card-subtitle>How to get to the venue</mat-card-subtitle>
        </mat-card-header> 
        <!-- <img mat-card-image src="../assets/ns.jpg" alt="train"> -->
        <mat-card-content>
            <div class="card-content">
                <h3></h3>
                <ul>
                    <li><i>Groot Warnsborn</i>, in Arnhem, The Netherlands</li>
                    <li class="no-bullet">
                        <a href="https://grootwarnsborn.nl/" target="_blank" class="margin-right"><button  mat-stroked-button>Website</button></a>
                        <a href="https://goo.gl/maps/JSagZSQFj1UEmDKL9" target="_blank"><button  mat-stroked-button>Google Maps</button></a>
                    </li>
                </ul> 
                
                <mat-divider></mat-divider>

                <h3 class="top-margin">Do you wish to stay the night with us at Groot Warnboorn?</h3>
                <ul>
                    <li>Please contact Nina or I prior to March 2023, and we'll reserve a room for you at the special rate</li>
                    <li>The cost of the room is €185 - €210</li>
                    <li>Breakfast is included</li>
                </ul> 
            </div>
        </mat-card-content> 
            
    </mat-card> 


    
        
</div>