* {
    overflow: hidden;
}

.text {
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: large;
}

p {
    color: white;
}