* {
    overflow: hidden;
}

.viewer {
    margin: 3%;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    flex-direction: column;
    row-gap: 20px;
}